.lavaCover {
  height: 70vmin;
  pointer-events: none;
  user-select: none;
}

.frontPageContent {
  display: flex;
  flex-direction: row;
  padding-left: 5vw;
  padding-right: 5vw;
}

.frontCarousel {
  display: flex;
  flex-direction: row;
  padding-top: 4vh;
}

.catchPhrase {
  font-size: calc(20px + 6vmin);
  text-align: left;
  font-weight: bold;
  font-family: "Poppins";
  line-height: 9vmin;
  color: #dddddd;
}

.description {
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: calc(5px + 2vmin);
  text-align: left;
  font-weight: normal;
  font-family: "Fira Code";
  color: #dddddd;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.githubIcon {
  background-color: #333333;
  width: 55px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 10px;
}

.discordIcon {
  background-color: #5865f2;
  width: 55px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 10px;
}

.youtubeIcon {
  background-color: #333333;
  width: 55px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 10px;
}

