.playground {
  padding-left: 2vw;
  padding-right: 2vw;
}

.editorHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.editorPanel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.codeMirror {
  text-align: left;
  font-family: "Fira Code" !important;
  margin-right: 10px;
}

.runButton,
.resetButton {
  height: fit-content;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 7px;
  margin-right: 15px;
  font-size: 1rem;
  color: white;
  font-family: "Fira Code";
  background-color: rgb(18, 143, 95);
  user-select: none;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.runButton {
  font-weight: bold;
}

.resetButton {
  background-color: rgb(145, 46, 46);
}

.runButton:hover,
.resetButton:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.runButton:active,
.resetButton:active {
  background-color: rgb(97, 97, 97);
}

.timeStats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.timeDesc {
  font-size: 0.7rem;
  color: white;
  font-family: "Fira Code";
  margin-top: 5px;
  margin-bottom: 5px;
}

.timeStatValues {
  text-align: left;
  color: white;
  font-family: "Fira Code";
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
}

.timeElement {
  display: flex;
  flex-direction: row;
  padding-bottom: 2px;
  align-items: center;
  margin-right: 10px;
}

.timeName {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px 0px 0px 5px;
  background-color: #333333;
  font-weight: bold;
}

.timeValue {
  border-radius: 0px 5px 5px 0px;
  background-color: #000000;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.compileInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.compilationStatus {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  font-family: "Fira Code";
  font-weight: bold;
  font-size: 0.9rem;
  width: fit-content;
  margin-bottom: 10px;
  border-radius: 3px;
  text-shadow: 0px 0px 5px #555555;
}

.codeProblems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.probTitle {
  font-size: 0.7rem;
  font-family: "Fira Code";
  margin-bottom: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff22;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff44;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff66;
}

.probList {
  padding: 10px;
  background-color: #000000;
  width: 43vw;
  height: 60vh;
  overflow-y: auto;
}

.probElem {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Fira Code";
  font-size: 0.8rem;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 2px solid #333333;
}

.probContent {
  display: flex;
  flex-direction: row;
}

.probCategory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: bold;
  border-radius: 4px;
}

.probRange {
  font-style: italic;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.7rem;
}

.probValue {
  margin-left: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

