.App {
  text-align: center;
  background-image: radial-gradient(ellipse at top, #24262b, #000000);
  min-height: 100vh;
  min-width: 97vw;
}

.branding {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.qatIcon {
  margin-left: 2vmin;
  margin-right: 7px;
}

.appHeader {
  max-height: 10vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(2vmin);
  color: white;
  font-weight: bold;
}

.prompts {
  display: flex;
  flex-direction: row;
}

.navBar {
  margin-right: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navLink {
  text-decoration: none;
  font-weight: bold;
  color: rgb(18, 143, 95);
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  background-color: transparent;
  transition: color 0.1s ease-in-out;
  user-select: none;
  cursor: pointer;
}

.navLink:hover {
  color: white;
}

.navLinkActive {
  color: black;
  background-color: #dddddd;
  text-decoration: none;
  font-weight: bold;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  /* background-color: rgb(18, 143, 95); */
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
}

.navLink:visited {
  text-decoration: none;
}

