.App {
  text-align: center;
  /* background-color: #1a1c20; */
  background-image: radial-gradient(ellipse at top, #24262b, #000000);
  min-height: 100vh;
  min-width: 100vw;
}

.branding {
  display: flex;
  flex-direction: row;
}

.appHeader {
  max-height: 10vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: bold;
  font-family: "Fira Code";
}

.titleGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.appTitle {
  font-size: calc(8px + 2vmin);
  color: #dddddd;
}

.appSubtitle {
  display: flex;
  flex-direction: column;
  color: grey;
  /* font-style: italic; */
  font-size: calc(5px + 1vmin);
}

.prompts {
  display: flex;
  flex-direction: row;
}

.navBar {
  padding-right: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navLink {
  text-decoration: none;
  font-family: "Fira Code";
  font-weight: bold;
  color: rgb(18, 143, 95);
  font-size: 1rem;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  background-color: transparent;
  transition: color 0.1s ease-in-out;
  user-select: none;
  cursor: pointer;
}

.navLink:hover {
  color: white;
}

.navLinkActive {
  color: black;
  background-color: #dddddd;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  /* background-color: rgb(18, 143, 95); */
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
}

.navLink:visited {
  text-decoration: none;
}

