.buttonOuter {
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: calc(5px + 2vmin);
  font-weight: bold;
  color: white;
  font-family: inherit;
  background-color: rgb(18, 143, 95);
  user-select: none;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.buttonOuter:hover {
  color: black;
  background-color: #dddddd;
  cursor: pointer;
}

.buttonOuter:active {
  background-color: rgb(97, 97, 97);
}

.buttonInner {
  display: flex;
  flex-direction: row;
}

