.downloads {
  color: white;
  padding-top: 5vmin;
  padding-left: 4vmin;
  padding-right: 4vmin;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.releaseCard {
  display: flex;
  flex-direction: row;
}

.releaseSwitcher {
  display: flex;
  flex-direction: row;
  height: 7vh;
  margin-bottom: 2vmin;
}

.nextVersion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-radius: 10px 0px 0px 10px;
  user-select: none;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.previousVersion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-radius: 0px 10px 10px 0px;
  user-select: none;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.releaseVersionInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 12vw;
}

.releaseVersion {
  font-family: "Fira Code";
  font-weight: bold;
  width: 100%;
  font-size: 1.3em;
}

.releasePrerelease {
  font-family: "Fira Code";
  font-size: 0.8rem;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #222222ff;
  border-radius: 7px;
}

.releaseTitle {
  font-weight: bold;
  height: 5vmin;
  width: 70vmin;
  font-size: 1.1rem;
  text-align: left;
}

.releaseContent {
  text-align: left;
  font-size: 1.9vmin;
  overflow-y: auto;
  margin-top: 2vh;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 2vh;
  background-color: #222222ff;
  color: #cccccc;
  height: 60vmin;
  width: 70vmin;
}

.releaseContent code {
  font-family: "Fira Code", "Courier New" !important;
  font-size: 1.5vmin;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 2.5vmin;
  color: white;
  background-color: #ffffff22;
  border-radius: 5px;
}

.releaseContent li {
  margin-bottom: 5px;
}

.downloadButtons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 2%;
}

.downloadButton {
  user-select: none;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Fira Code";
  background-color: rgb(18, 143, 95);
  border-radius: 3px;
  margin-bottom: 7px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.downloadInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.platformIcon {
  width: 25%;
  margin-right: 10px;
}

.downloadButton:hover {
  background-color: white;
  color: black;
}

.downloadPlatform {
  font-weight: bold;
}

.downloadArch {
  font-size: 0.8rem;
  font-style: italic;
}

.secondColumn {
  justify-content: left;
  padding-left: 2%;
}

.downloadSelections {
  height: 5vmin;
  width: 20vmin;
  font-size: small;
}

