.lavaCover {
  align-self: center;
  pointer-events: none;
  user-select: none;
  margin-left: 1vw;
  margin-right: 1vw;
}

.prompts {
  display: flex;
  flex-direction: row;
}

.frontPageContent {
  display: flex;
  flex-direction: column;
}

.frontCarousel {
  display: flex;
  padding-top: 4vh;
  padding-right: 3vw;
}

.catchPhrase {
  font-size: 7vmin;
  text-align: left;
  font-weight: bold;
  line-height: 7vmin;
  color: #dddddd;
}

.description {
  padding-top: 1.5vmin;
  padding-bottom: 3vh;
  font-size: calc(2.5vmin);
  text-align: left;
  color: #dddddd;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  margin-top: 2vmin;
}

.socialIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  transition: border 0.2s ease-in-out;
  border: 2px solid #00000000;
}

.socialIcon:hover {
  border: 2px solid #ffffff55;
}

.secondSection {
  display: flex;
  flex-direction: row;
  margin-bottom: 10vh;
}

.featuresBlock {
  width: calc(50% - 2vw);
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: "Fira Code";
  text-align: left;
  margin-left: 3vw;
  margin-right: 2vw;
}

.featuresTitle {
  color: #cccccc;
  font-size: 3vmin;
  margin-bottom: 0px;
  font-weight: bold;
  text-align: left;
}

.featuresContent {
  font-size: small;
  color: #cccccc;
}

.markdown {
  font-size: 2vmin;
}

.markdown code {
  font-family: "Fira Code", "Courier New" !important;
  font-size: smaller;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #393939;
  border-radius: 5px;
}

.exampleHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.exampleSelections {
  width: 50%;
  font-size: small;
}

.exampleItem {
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  font-size: small;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
}

.examplesBlock {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-left: 2vw;
}

.examplesTitle {
  color: #cccccc;
  font-weight: bold;
  font-size: calc(2vmin);
  text-align: left;
}

.exampleDropdown {
  font-size: calc(1.9vmin);
  color: white;
}

.exampleName {
  font-weight: bold;
  text-align: left;
}

.exampleContent {
  height: 36vh;
  background-color: #303030;
  border-radius: 1vmin;
  padding-right: 2vmin;
  padding-top: 1vmin;
  color: #dddddd;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.7vmin;
  white-space: pre-wrap;
  overflow-x: auto;
  overflow-y: auto;
}

.codeLineRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.codeLineNumber {
  width: 4vmin;
  margin-right: 1vmin;
  font-size: smaller;
  color: #ffffff55;
  /* background-color: #00000055; */
}

.codeLine {
  margin-bottom: 0.3vmin;
}

.sponsorBlock {
  display: flex;
  flex-direction: row;
  margin-top: 3vmin;
  margin-bottom: 3vmin;
  margin-left: 5vmin;
  margin-right: 5vmin;
  background-color: #222222;
  border-radius: 2.2vmin;
  padding: 2.5vmin;
}

.sponsorHeader {
  display: flex;
  flex-direction: row;
  color: #cccccc;
  align-items: flex-start;
  font-size: larger;
}

.sponsorIcon {
  cursor: pointer;
  padding-left: 1.5vmin;
  padding-right: 1.5vmin;
  background-color: #ffbb00;
  color: black;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out, color 0.1s ease-in-out;
}

.sponsorIcon:hover {
  color: black;
  user-select: none;
  background-color: #cccccc;
}

.sponsorIcon:active {
  background-color: #616161;
}

.sponsorIconImage {
  fill: white;
  align-self: center;
  margin-right: 1vmin;
  transition: fill 0.1s ease-in-out;
}

.workStats {
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  margin-right: 2vmin;
  width: 31vmin;
}

.workStatsHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2vmin;
}

.workStatsTitle {
  margin-left: 1vmin;
  font-weight: bold;
  font-size: 1.8vmin;
}

.projectStatRow {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  margin-bottom: 0.7vmin;
}

.projectStatName {
  background-color: #333333;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 3.5vmin;
  width: 15vmin;
  font-size: 1em;
  text-align: left;
  border-radius: 7px 0px 0px 7px;
  border-right: 2px solid #555555;
}

.projectStatTime {
  background-color: #000000;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 3.5vmin;
  width: 16vmin;
  text-align: center;
  border-radius: 0px 7px 7px 0px;
}

